<div class="bg-neutral">
  <div class="flex justify-between gap-2">
    <div class="flex items-center cursor-pointer">
      <img
        src="/images/logo-blue-background.png"
        alt="Logo"
        class="text-primary h-16"
        routerLink="/"
      />
      <h2 class="text-primary font-bold text-2xl font-headline">The Archive</h2>
      <app-header-chip [text]="'Library'" (click)="navigateToCollection()"></app-header-chip>
      <app-header-chip [text]="'Decks'" (click)="navigateToDecks()"></app-header-chip>
    </div>
    @if (this.isUserLoggedIn()) {
      <div class="flex m-4 text-text-primary gap-4">
        <button
          class="bg-secondary rounded-lg px-3"
          (click)="navigateToProfile()"
        >
          [Hier Profilbild einfügen]
        </button>
      </div>
    } @else {
      <div class="flex m-4">
        <button class="menu right-0.5 text-text-primary cursor-pointer mr-4">
          Login
        </button>
        <button class="menu right-0.5 text-text-primary cursor-pointer">
          Registrieren
        </button>
      </div>
    }
  </div>
</div>
