<div class="bg-primary">
  <div class="flex justify-between gap-2">
    <div class="flex items-center cursor-pointer" routerLink="/">
      <img
        src="/images/logo-blue-background.png"
        alt="Logo"
        class="text-text-primary h-16"
      />
      <h2 class="text-text-primary font-bold text-2xl">Sideboard</h2>
    </div>
    @if (this.isUserLoggedIn()) {
      <div class="flex m-4 text-text-primary gap-4">
        <button
          class="bg-secondary rounded-lg px-3"
          (click)="navigateToDecks()"
        >
          Meine Decks
        </button>
        <button
          class="bg-secondary rounded-lg px-3"
          (click)="navigateToCollection()"
        >
          Meine Sammlung
        </button>
        <button
          class="bg-secondary rounded-lg px-3"
          (click)="navigateToProfile()"
        >
          [Hier Profilbild einfügen]
        </button>
      </div>
    } @else {
      <div class="flex m-4">
        <button class="menu right-0.5 text-text-primary cursor-pointer mr-4">
          Login
        </button>
        <button class="menu right-0.5 text-text-primary cursor-pointer">
          Registrieren
        </button>
      </div>
    }
  </div>
</div>
